@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/split/WantedSans.min.css");

:root {
  /* 색상 변수 */
  --bg-color: hsl(230, 6%, 11%);
  --text-color: #f0f0f0;
  --secondary-text-color: hsla(0, 0%, 94%, 0.7);
  --highlight-color: #3d6aff;
  --border-color: hsla(0, 0%, 94%, 0.2);
  --blockquote-bg: hsla(0, 0%, 94%, 0.05);
  --code-bg: hsla(230, 6%, 15%, 1);

  --bg-primary: #0b0a0d;
  --bg-secondary: #252329;
  --bg-tertiary: #1e1c21;
  --text-white: #fcfaff;
  --text-gray: #d2ced9;
  --text-black: #0b0a0d;

  /* 목차 관련 변수 */
  --toc-width: 280px;
  --toc-bg: hsla(230, 6%, 13%, 1);
  --toc-active-bg: hsla(230, 6%, 15%, 1);

  font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system,
    BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}
